<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jsynctech.com.app_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DEMO1.FoodOrder.CreateOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GrabStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DEMO1.FoodOrder.StoreDetailActivity" />

        </activity>
        <activity
            android:name=".DEMO1.FoodOrder.StoreDetailActivity"
            android:theme="@style/GrabStyle">


        </activity>
        <activity
            android:name=".DEMO1.DemoDetail.BottomAppBar.BottomAppBarsActivity"
            android:theme="@style/ThemeDemo"></activity>
        <activity android:name=".DEMO1.Setting.SettingActivity" >
        </activity>
        <activity
            android:name=".DEMO1.DemoDetail.FormActivity"
            android:theme="@style/ThemeDemo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DEMO1.Main.MainDemo1Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>